# Python virtual environments
env_1/
venv/
.venv/

# macOS metadata
.DS_Store

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MLflow experiment tracking and artifacts
mlruns/
ml_artifacts/