# Core packages
ipython>=8.10
notebook
jupyterlab>=3.0

# Kedro
kedro~=0.19.5
kedro-telemetry>=0.3.1
kedro-datasets
kedro-mlflow

# Data processing
pandas==2.1.4
shap
nannyml
evidently>=0.5.0 # need to update data_drift nodes to use dashboard instead of report
# evidently==0.2.2q

# Validation
great-expectations==0.17.23

# Profiling
ydata-profiling==4.7.0
visions>=0.7.4

# Testing
pytest~=7.2
pytest-cov~=3.0
pytest-mock>=1.7.1,<2.0

# Linting & formatting
ruff~=0.1.8

# Hopsworks SDK
hopsworks[python]